body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
/* Nav styles  */
nav {
  width: 100%;
}
nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
nav ul li {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9ff;
  height: 40px;
  padding-left: 50px;
  padding-right: 70px;
  padding-top: 5px;
  font-size: smaller;
  color: gray;
}

.nav-icons {
  gap: 10px;
}
.nav-contact-info ul {
  gap: 20px;
}

/* Main menu styles */
.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  height: 100%;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-right: 70px;
  font-weight: 100;
  height: 80px;
  padding-top: 0;
  padding-bottom: 0;
}

.nav-links a:hover {
  color: green;
}

.logo {
  padding-left: 50px;
}
.hambegar {
  display: none;
  color: green;
  font-size: 20px;
}

/*Nav Dropdown styles */

.nav-links .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  visibility: hidden;
  position: absolute;
  min-width: 197px;
  z-index: 1;
  background-color: #ffffff;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translateY(20px);
}

.dropdown-content a {
  color: black;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:last-child {
  padding-bottom: 18px;
  border-top: 1px solid #f1f1f1;
}

#dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.dropdown-content:hover {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.dropdown-content a:hover {
  background-color: #3e8e41;
  color: white;
}
.dropdown .dropdown-content .trans-anchor:hover {
  background-color: #ffffff;
}

/* Hero Section Styles */

.hero {
  background-image: url("	https://themewagon.github.io/learnit/img/banner/home-banner.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .hambegar {
    display: block;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #f9f9ff;
    transition: all 0.5s ease;
  }
  .nav-links.active {
    display: flex;
  }
  .nav-links a {
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }
  .dropdown-content {
    position: static;
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    display: none;
  }
  .dropdown-content a {
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }
  .dropdown-content a:last-child {
    border-top: none;
  }
}
