<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edm ui</title>
  <link rel="stylesheet" href="../css/main.styles.css">
</head>
text

<body>

  <!-- Navigation By: #David, #Melody -->







  <!-- Main By:  #Angela, #Joshua,   -->




  <!-- Footer By: #Tapuwa, #Aissa,  -->

  <footer>
    <div class="footer-items">
      <div>
        <h3>Top Products</h3>
        <ul>
          <li>Manage Website</li>
          <li>Manage Reputation</li>
          <li>Power Tools</li>
          <li>Marketing Service</li>
        </ul>
      </div>
      <div>
        <h3>Quick Links</h3>
        <ul>
          <li>Jobs</li>
          <li>Brand Assets</li>
          <li>Investor Relation</li>
          <li>Terms of Service</li>
        </ul>
      </div>
      <div>
        <h3>Features</h3>
        <ul>
          <li>Jobs</li>
          <li>Brand Assets</li>
          <li>Investor Relation</li>
          <li>Terms of Service</li>
        </ul>
      </div>
      <div>
        <h3>Resoutextrses</h3>
        <ul>
          <li>Guides</li>
          <li>Research</li>
          <li>Experts</li>
          <li>Agencies</li>
        </ul>
      </div>
      <div>
        <h3>Newsletter</h3>
        <li>Stay updated with our latest trends</li>
        <div><input type="text" placeholder="enter email address">
          <buttontext>-></button>
        </div>
      </div>
    </div>
  </footer>




</body>

</html>