<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edm ui</title>
    <link rel="stylesheet" href="../css/main.styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

    <!-- Navigation By: #David, #Melody -->







    <!-- Main By:  #Angela, #Joshua,   -->




    <!-- Footer By: #Tapuwa, #Aissa,  -->


      <footer>
        <div class="container">
          <h1>BECOME AN INSTRUCTOR</h1>
           <p>There is a moment in the life of any aspiring astronomer that it is time 
   to buy that first telescope. It’s exciting to think about
   setting up your own viewing station whether that is on the deck</p>
           <button type="button"> Apply for the post</button>
       </div>
       <div class="containt">
       <div class="ft">
           <h2>Top Products</h2>
           <ul>
               <li> <a href="https://themewagon.github.io/learnit/index.html#">Manage website </a> </li>
               <li> <a href="https://themewagon.github.io/learnit/index.html#">Manage reputation</a> </li>
               <li> <a href="https://themewagon.github.io/learnit/index.html#">Power Tools </a> </li>
               <li> <a href="https://themewagon.github.io/learnit/index.html#">Marketing Service </a> </li>
           </ul>
       </div>
       <div class="ft2">
           <h2>Quicks links</h2>
           <ul>
               <li> <a href="https://themewagon.github.io/learnit/index.html#">Jobs</a> </li>
               <li> <a href="https://themewagon.github.io/learnit/index.html#">Brand Assets</a> </li>
               <li> <a href="https://themewagon.github.io/learnit/index.html#">Inverstor relation</a> </li>
               <li> <a href="https://themewagon.github.io/learnit/index.html#">Terms and services</a> </li>
           </ul>
       </div>
       <div class="ft3">
           <h2>Features</h2>
           <ul>
               <li> <a href="https://themewagon.github.io/learnit/index.html#">Job</a> </li>
               <li> <a href="https://themewagon.github.io/learnit/index.html#">Brand Assets</a> </li>
               <li> <a href="https://themewagon.github.io/learnit/index.html#">Inverstor relation</a> </li>
               <li> <a href="https://themewagon.github.io/learnit/index.html#">Terms and services</a> </li>
           </ul>
       </div>
       <div class="ft4">
           <h2>Ressources</h2>
           <ul>
               <li> <a href="https://themewagon.github.io/learnit/index.html#">Guides</a> </li>
               <li> <a href="https://themewagon.github.io/learnit/index.html#">Research</a> </li>
               <li> <a href="https://themewagon.github.io/learnit/index.html#">Experts</a> </li>
               <li> <a href="https://themewagon.github.io/learnit/index.html#">Agencies</a> </li>
           </ul>
          </div>

         <div class="new">
          <h1>Newsletter</h1>
          <p>Stay updated with our latest trends</p>
          <form>
              <input type="email">
              <input type="submit" value="sub">
          </form>
          <button type="button" class="arrow"> </button>
       </div>
       <div class="copy">
           <p>Copyright ©2024 All rights reserved | This template is made with  by <a href="https://colorlib.com/">Colorlib</a> </p>
       
       <div class="icon">

        <a href="https://www.facebook.com/yourPageName" class="fa fa-facebook"></a>
        <a href="https://twitter.com/yourUsername" class="fa fa-twitter"></a>
        <a href="https://themewagon.github.io/learnit/index.html#" ></a>
        <a href="https://themewagon.github.io/learnit/index.html#" ></a>

        
           
       </div>
       </div>
       </div>
      </footer>



  </body>

</html>