<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edm ui</title>
    <link rel="stylesheet" href="../css/main.styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
  </head>

  <body>

    <!-- Navigation By: #David, #Melody -->
    <nav>
      <div class="top-menu">
        <div>
          <ul class="nav-icons">
            <li>
              <a href="#">
                <i class="bi bi-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bi bi-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bi bi-globe"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bi bi-behance"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="nav-contact-info">
          <ul>
            <li>
              <a href="tel:+4400123654896">+440 012 3654 896</a>
            </li>
            <li>
              <a href="mailto:support@colorlib.com">support@colorlib.com</a>
            </li>
          </ul>
        </div>
      </div>
      </div>
      <div class="main-menu">
        <div class="logo">
          <a href="index.html">
            <img src="https://themewagon.github.io/learnit/img/logo.png" alt="logo">
          </a>
        </div>
        <div class="nav-menu">
          <ul class="nav-links">
            <li>
              <a href="index.html">HOME</a>
            </li>
            <li>
              <a href="aboutus.html">ABOUT</a>
            </li>
            <li>
            <li class="dropdown" id="dropdown">
              <div>
                <a href="#">COURSES</a>
                <div class="dropdown-content" id="dropdown-content">
                  <a href="" class="trans-anchor"></a>
                  <a href="#">COURSES</a>
                  <a href="#">COURSE DETAILS</a>
                </div>
              </div>
            </li>
            </li>
            <li class="dropdown" id="dropdown">
              <div>
                <a href="#">PAGES</a>
                <div class="dropdown-content" id="dropdown-content">
                  <a href="" class="trans-anchor"></a>
                  <a href="#">ELEMENTS</a>
                </div>
              </div>
            </li>
            <li class="dropdown" id="dropdown">
              <div>
                <a href="#">BLOG</a>
                <div class="dropdown-content" id="dropdown-content">
                  <a href="" class="trans-anchor"></a>
                  <a href="#">BLOG</a>
                  <a href="#">BLOG DETAILS</a>
                </div>
              </div>
            </li>
            <li>
              <a href="contact.html">CONTACT</a>
            </li>
          </ul>

        </div>
        <i class="bi bi-list hambegar"></i>
      </div>
      </div>
    </nav>

    <!-- Hero Section -->
    <Section>
      <div class="hero">
        <div class="hero-content">
          <h1>Learn Anything, Anytime, Anywhere</h1>
          <p>Learn from the comfort of your home</p>
          <button class="btn">Get Started</button>
        </div>
      </div>
    </Section>








    <!-- Main By:  #Angela, #Joshua,   -->




    <!-- Footer By: #Tapuwa, #Aissa,  -->






    <script src="../js/main.javascript.js"></script>
  </body>

</html>